/* Enter your custom styles here */
.sapMOHR.sapMOHRBgTranslucent {
    background: #efdb065c;
}

.sapUiFormResGrid>div {
    background: #efdb065c;
}

.sapMITBContent {
    background-color: #efdb065c;
}